
h1, h2, h3 {
    font-family: 'Baloo', cursive;
    font-weight: 700;
    font-size: 30px;
}

h2{
  font-weight: 600;
  font-size: 20px;
  font-family: 'Baloo', cursive;
}

h3{
  font-weight: 500;
  font-family: 'Baloo', cursive;
}

p, a , label{
    font-family: 'Baloo', cursive;
}

small{
    font-size: 14px;
    font-family: 'Baloo', cursive;
}
