$corporativeBlue: #60c2f9;
$corporativeDarkBlue: #1f2433;
$corporativeYellow: #e4b300;
$corporativeWhite: #f2f2f2;
$corporativeBlack: #040006;


.display-none{
    display: none;
}

.principal-title{
    color: $corporativeBlue;
    width: 100%;
    text-align: center;
    font-size: 44px;
    margin: 50px 0px 10px 0px;
}
